body {
  background: $DarkBlueBG;
  height: 100vh;
  font-family: 'JetBrains Mono', monospace;
  overflow-x: hidden;
  overflow-y: hidden;
}

#app {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

#sidebar {
  // overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.loginStyles {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    margin-bottom: 1em;
  };

  button {
    background-color: #8DA7BE;
    color: $DarkBlue;
    font-size: 2em;
    height: 3rem;
    border-radius: 15px;
    border-style: none;
    margin-bottom: 0.5em;
    font-size: 1.2em;
    margin-top: 30px;
    width: 45%;
  
    &:hover {
      background-color: $DarkBlue;
      color: white;
    }
  }
  
  input {
  font-size: 1.5em;
    width: 35vw;
    height: 3rem;
    margin-bottom: 0.5em;
    border-radius: 15px;
    padding-left: 15px;
  }

  h1 {
    font-size: 10vw;
    color: white;
    margin: 0;
  }

  h2 {
    color: #8DA7BE;
    margin-bottom: 50px;
  }

  #button-container {
    display: flex;
    width: 35vw;
    justify-content: space-between;
  }
}


.mainStyles {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: row;
  color: $DarkBlue;
  height: 100vh;
  width: 100vw;
  font-size: 1.5em;
  margin: 0;
}

.mapStyles {
  flex: 1;
  border: none;
  height: 100vh;
  width: 100%;
}

.mapContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.flexAlignCenter {
  display: flex;
  align-items: center;
}

.sidebarStyles {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-content: center;
  background-color: #8DA7BE;
  min-width: 350px;
  max-width: 360px;
  width: 20%;
  height: 100vh;
  border: 1px solid black;

  input {
    font-family: 'JetBrains Mono', monospace;
    font-size: .8em;
    height: 2rem;
    margin-bottom: 0.5em;
    border-radius: 15px;
    padding-left: 15px;
    background-color: $DarkBlue;
    color: white;
  }

  button {
    background-color: white;
    color: $DarkBlue;
    font-size: .7em;
    font-variant-caps: all-petite-caps;
    height: 2rem;
    border: 3px solid $DarkBlue;
    border-radius: 15px;
    margin-bottom: 0.8em;
    min-width: 150px;
    &:hover {
      background-color: $DarkBlue;
      color: white;
      border: 3px solid;
    }
  }
}

.scrollContainer {
  overflow: scroll;
  height: 350px;
}

.center {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 30px;
  margin-bottom: 25px;
}

.picStyles {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 10px 16px
}

.inputStyles {
  width: 90%;
  margin: 5px 0;
}

.pStyles {
  margin-top: 20px;
  inline-size: 250px;
  overflow-wrap: break-word;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: .7em;
}

#user-info {
  justify-content: center;
}

#name-and-coords {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 40px;
  margin-bottom: 0;
  margin-left: 30px;
  align-items: flex-start;
}

#logo {
  font-size: 1.5em !important;
  margin-top: 5px;
  margin-bottom: 0;
}

#welcome {
  font-size: 1em !important;
  margin-bottom: 0 !important;
}

#user-name {
  color: white;
  font-weight: 600;
  margin: 0;
  padding: 0;
  font-size: 1.7em;
  font-family: 'JetBrains Mono', monospace;
}

#friends {
  margin-bottom: 10px;
}

.weather-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  font-size: .8em;
  margin-bottom: 30px;

  h1, h2, h3 {
    margin: 0
  }

  h2, h3 {
    color: white;
  }

  .weather-temperature {
    background-color: white;
    width: 20%;
    padding: 10px;
    border-radius: 20px;
  }

  .weather-condition {
    display: flex;
  }

  img {
    padding: 0;
  }
}

.forecast-hour-wrapper {
  font-size: 14px;

  position: relative;
  width: 85%;
  padding: 5px 15px;
  margin-bottom: 5px;

  border: 2px solid rgb(47, 58, 68);
  border-radius: 20px;
}

.forecast-icon {
  position: absolute;
  width: 75px;
  top: 20px;
  left: 200px;
}

