body {
  background: $DarkBlueBG;
  font-family: 'Raleway', sans-serif;
}

#app {
  display: flex;
  align-items: top;
  justify-content: center;
}

.loginStyles {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    margin-bottom: .25em;
  };

  button {
    background-color: $Olive;
    color: $DarkBlue;
    font-size: 1.5em;
    height: 2rem;
    border-radius: 7px;
    border-style: none;
    box-shadow: 1px 2px 5px 1px rgb(99, 99, 99);
    margin-bottom: 0.5em;
    min-width: 150px;

    &:hover {
      background-color: $LightOlive;
      color: $DarkBlue;
    }
  }

  #darkButton {
    background-color: $DarkBlue;
    color: $Olive;

    &:hover {
      background-color: $LightOlive;
      color: $DarkBlue;
    }
  }
  
  input {
    font-size: 1.5rem;
    height: 2rem;
    margin-bottom: 0.75em;
    border-radius: 7px;
    padding-left: 15px;
  }

  h1 {
    font-size: 5rem;
    color: $Olive;
  }

  h2 {
    font-size: 2.5rem;
    color: $Olive;
  }

}


.mainStyles {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  color: $DarkBlue;
  font-size: 1.5em;
}

.mapStyles {
  border: 1px solid gray;
  height: 50rem;
  width: 60rem;
  margin: 12px 0px;
}

.mapContainer {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 20px;
}

.flexAlignCenter {
  display: flex;
  align-items: center;
}

.sidebarStyles {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: $Olive;
  width: 20rem;
  height: 55rem;
  border: 1px solid black;
  border-radius: 6px;
  margin: 10px 0px 0px 6px;
  padding-left: 0.5em;

  #welcomeText {
    font-size: 1.75rem;
  }

  #locationText {
    font-size: 1rem;
    margin-top: 24px;
  }

  #futureFriendsText {
    align-content: center;
  }

  input {
    font-size: .8em;
    height: 2rem;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    border-radius: 7px;
    padding-left: 15px;
    background-color: $DarkBlue;
    color: $Olive;
  }

  button {
    background-color: $DarkBlue;
    color: $Olive;
    font-size: 1em;
    height: 2rem;
    border-radius: 7px;
    border-style: none;
    box-shadow: 1px 2px 5px 1px rgb(99, 99, 99);
    margin-bottom: 0.5em;
    min-width: 150px;

    &:hover {
      background-color: $LightOlive;
      color: $DarkBlue;
    }
  }

  #findMidpointButton {
    margin: 7px;
  }

  #changeAddressButton {
    margin-bottom: 30px;
  }

}

.scrollContainer {
  overflow: scroll;
  height: 350px;
}

.center {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.picStyles {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 10px 16px
}

.inputStyles {
  margin: 10px 6px
}
