
#myMarker{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  background-image: url(cat.png);
  background-repeat: no-repeat;
  user-select: none;
  transform: translate(-50%, -50%);
  &:hover {
    z-index: 1;
    
  }
}

#midpointMarker{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  background-image: url(midpoint.png);
  background-repeat: no-repeat;
  user-select: none;
  transform: translate(-50%, -50%);
  &:hover {
    z-index: 1;
    
  }
}

#friendMarker{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  background-image: url(fox.png);
  background-repeat: no-repeat;
  user-select: none;
  transform: translate(-50%, -50%);
  &:hover {
    z-index: 1;
    
  }
}

// #cafeMarker{
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   width: 64px;
//   height: 64px;
//   background-image: url(coffee.png);
//   background-repeat: no-repeat;
//   user-select: none;
//   transform: translate(-50%, -50%);
//   &:hover {
//     z-index: 1;
    
//   }
// }