#yelp-button {
  height: 50px;
  width: 200px;
  border: 5px solid #8DA7BE;
  border-radius: 50px;
  color: #161F27;
  background-color: white;
  font-weight: 700;
  z-index: 9999999;
}

#yelp-button:hover {
  position: sticky;
  height: 50px;
  width: 200px;
  border: 5px solid white;
  border-radius: 50px;
  color: white;
  background-color: #8DA7BE;
  font-weight: 700;
}


#yelp-button-div {
  position: fixed;
  bottom: 40vh;
  left: -45%;
  margin: 0;
  width: 200px;
  height: 50px;
}